.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.text {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    
    margin: 0.5em;
    width: 10em;
    background-color: burlywood;
    color: black;
}